img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

/* .main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: space-between;
    align-content: stretch;
} */

.main-introduction {
    align-self: flex-end;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
}
.main-summary {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
}
.main-experience {
    align-self: stretch;
    order: 0;
    flex: 1 0 0px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90px;
}
.main-education {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
}
  
  html {
      background: #e0e0eb;
      background: linear-gradient( to bottom, #e0e0eb, #8c8cd9);
      background-repeat: yes-repeat;
      background-size: cover;
  }